.speech{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 color: black;
}
.direction{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: black;
    background-color: rgb(113, 216, 134);
}
.direction:hover{
    background-color: rgb(47, 78, 98);
    color: white;
}
.name{
    color: #15ff00;
}
.HELMER{
    color: rgb(255, 77, 0);
}
.NORA{
    color: blue;
}
.NURSE{
    color: rgb(0, 255, 200);
}
table{
    border: 10px solid;
    border-color: rgb(82, 88, 158);
    color: rgb(70, 147, 152);
    text-align: center;
    padding: 10px;
    margin:10px;
    
}
tr:nth-child(even) {
    background-color: #c5baba;
  }
.HELMER:hover{
    text-shadow: 1px 3px  #15ff00;
    border: 1px solid;
    filter: blur(1px);
    background-color: rgb(158, 167, 174);
}
.NORA:hover{
    text-shadow: 2px 5px rgb(255, 0, 132);
    filter: blur(1px);
    border: 1px solid;
    background-color: rgb(170, 170, 170);
}
.NURSE:hover{
    text-shadow: 1px 3px blue;
    border: 1px solid;
    filter: blur(1px);
    background-color: rgb(172, 172, 172);
}
ul.horizontal-navbar li{
    
    color: rgb(255, 255, 255);
    background-color: rgb(231, 231, 231);
}
ul.horizontal-navbar a{
    display: block;
    padding: 8px;
    margin: 8px;
}
li{
    float: left;
}

li a:hover{
    color: rgb(78, 184, 140);
}
img{
    display: block;
    max-width: 30%;
    max-height: 50%;
    

}