.speech{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 color: black;
}
.direction{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: black;
    background-color: rgb(113, 216, 134);
}
.direction:hover{
    background-color: rgb(47, 101, 138);
    color: white;
}
.HELMER{
    color: rgb(250, 93, 93);
}
.NORA{
    color: blue;
}
table{
    border: 10px solid;
    border-color: rgb(82, 88, 158);
    color: rgb(70, 147, 152);
    text-align: center;
    padding: 1px;
    margin-left: right;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
  }
.HELMER:hover{
    text-shadow: 1px 1px 13px #cc1a1a;
}
.NORA:hover{
    text-shadow: 1px 1px 4px blue;
    filter: blur(1px);
}
